* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin-top: 80px;
    font-size: 32px;
    color: #b30000;
}

p {
    margin: 20px;
    font-size: 18px;
}

button {
    background: #b30000;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}
